# Turso Database
TURSO_DB_URL=libsql://trading-journal-zynin43839.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Nzg0OTY1NjQsImlkIjoiMDE5ZTE2YTAtYzYwMS03YWIyLWE3ZWYtZjZiMWNjMjIwZmRjIiwicmlkIjoiOThjZmMzNWMtOTJiYy00YmY1LWIxOTItMGViYjJhYmZjY2RiIn0.WE53y9IndTthcxA_QyipHsDxlwUuF28f7jcglxe9TQP5sRVHhuWRruZxqkssm5SmiVtwFUUiQoi05GIp123bBA
